@model IEnumerable<Lab2.Web.Models.TagViewModel>
@{
    Layout = null;
}

<h4>Tag</h4>
<hr />
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelitem=>item.Id)
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, postId=@ViewBag.PostId })
        </td>
    </tr>
}

</table>
